:root {
  --bg: #F5F5F0;
  --black: #0A0A0A;
  --grey: #6F6F6F;
  --font-heading: 'Anton', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--black);
  font-family: var(--font-body);
}